.header {
  background-color: #d8d8d8;
  height: 150px;
  width: 100%;
  padding-top: 20px;
}

.logo {
  background-color: #4a90e2;
  height: 100px;
  width: 100px;
  margin-left: 40px;
}

.main-content {
  background-color: #ffffff;
  /*height: 400px;*/
  width: 100%;
  padding: 40px;
}

.p {
  font-size: 30px;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.section-1 {
  background-color: #4a90e2;
  height: 150px;
  width: 100%;
}

.section-2 {
  background-color: #50e3c2;
  height: 150px;
  width: 100%;
}

.section-3 {
  background-color: #b8e986;
  height: 150px;
  width: 100%;
}

.section-4 {
  background-color: #f8e71c;
  height: 150px;
  width: 100%;
}
