

.header {
  background-color: #444444;
  height: 150px;
  width: 100%;
}

.left-section {
  background-color: red;
  height: 800px;
  width: 20%;
  float: left;
}

.middle-section {
  background-color: blue;
  height: 800px;
  width: 60%;
  float: left;
}

.right-section {
  background-color: green;
  height: 800px;
  width: 20%;
  float: left;
}

.footer {
  background-color: #1d1f21;
  height: 75px;
  width: 60%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
}
